@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
* {
    font-family: 'Poppins', sans-serif;
}

.bg-green-secondary {
    background: #EAF1F1;
}

.bg-shadow {
    box-shadow: 20px 20px 25px rgba(54, 74, 74, 0.04);
}

.text-green-secondary {
    color: #EAF1F1;
}

.text-green-primary {
    color: #364A4A;
}

.bg-rounded {
    border-radius: 0 10px 10px 0;
}

.text-gray {
    color: #444;
}

.bg-button-green {
    background: #364A4A;
}

.bg-button-green:hover {
    background: #2a5744;
}

.bg-image-register {
    background-image: url("./components/assets/register.png");
}

.form-input-green {
    border-color: #364A4A;
}